@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bg-image-hero {
  background-image: url('/hero_v2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
